.green-box {
  background-color: green;
}

.blue-box {
  background-color: blue;
}

.gray-box {
  background-color: gray;
}

.light-border {
  border-color: #eeeeee;
  border-style: solid;
  border-width: 1px;
}

.header-bar {
  background-image: linear-gradient(0deg, #1d85d9 0%, #2498f4 100%);
  height: 45px;
}

.header-buttons,
.header-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#mini-text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding-top: 15px;
  cursor: pointer;
}

.header-icons i {
  background-image: url(../images/header-sprites.png);
  background-repeat: no-repeat;
  display: block;
}

#help-icon i {
  width: 43px;
  height: 30px;
  background-position: -5px -5px;
}

#settings-icon i {
  width: 46px;
  height: 30px;
  background-position: -58px -5px;
}

/* Main Nav Settings begin*/
.main-nav-bg {
  background-image: url("../images/menu-bg.png");
  height: 108px;
  background-position: center center;
}

.main-nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-nav-icons i {
  background-image: url(../images/main-nav-sprites.png);
  background-repeat: no-repeat;
  display: block;
}

.main-nav-icon {
  padding: 8px;
}

#dashboard-icon i {
  width: 60px;
  height: 90px;
  background-position: -160px -105px;
}

#dashboard-icon i:hover {
  width: 60px;
  height: 90px;
  background-position: -5px -5px;
}

#people-icon i {
  width: 78px;
  height: 90px;
  background-position: -5px -205px;
}

#people-icon i:hover {
  width: 78px;
  height: 90px;
  background-position: -75px -5px;
}

#message-icon i {
  width: 60px;
  height: 90px;
  background-position: -230px -105px;
}

#message-icon i:hover {
  width: 60px;
  height: 90px;
  background-position: -163px -5px;
}

#tag-icon i {
  width: 67px;
  height: 90px;
  background-position: -93px -205px;
}

#tag-icon i:hover {
  width: 67px;
  height: 90px;
  background-position: -5px -105px;
}

#post-icon i {
  width: 60px;
  height: 90px;
  background-position: -170px -205px;
}

#post-icon i:hover {
  width: 60px;
  height: 90px;
  background-position: -233px -5px;
}

#chart-icon i {
  width: 68px;
  height: 90px;
  background-position: -303px -5px;
}

#chart-icon i:hover {
  width: 68px;
  height: 90px;
  background-position: -82px -105px;
}

/* Main Nav Settings end */

.dash-search-bar {
  background-color: #33cc66;
  height: 75px;
  border-radius: 5px;
  margin: 15px;
  padding: 10px 0px;
}

.dash-search-bar p {
  color: white;
  font-size: 30px;
}

.search-container {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-container input {
  float: left;
  display: inline;
  width: 100%;
  padding: 8px 10px 8px 10px;
  border: 0px;
  border-radius: 3px;
}

input:focus {
  outline: none;
}

.fa-search {
  color: #2498f4;
  float: right;
  display: inline;
  margin-top: -1.7em;
  padding-right: 0.5em;
}

.main-exterior {
  padding: 15px 25px 0px 25px;
  position: relative;
  background: linear-gradient(to bottom, #f6f6f6, white);
  border-radius: 10px;
  border-style: solid solid none solid;
  border-width: 0.5px;
  border-color: #e7e4e48a;
}

.main-interior {
  background-color: white;
  box-shadow: 0px 0px 2px rgb(161, 161, 161);
}

.footer {
  margin-top: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 51px;
  background-image: linear-gradient(to bottom, #f4f4f4, white);
  border-top: 1px solid white;
  box-shadow: 0px 0px 10px rgb(201, 201, 201);
}
